@import "../../styles/variables";
.beerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .beerRow {
        padding: 5px;
        .beerCard {
            max-width: 300px;
            padding: 15px;
            background-color: $bg_card;
            border-radius: 10px;
            h1 {
                font-size: 26px;
                color: #ffffff;
            }
            p {
                margin-top: 10px;
                font-size: 18px;
                color: #ffffff;
            }
        }
    }
}
